In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
import matplotlib.pyplot as plt
from statsmodels.graphics.gofplots import ProbPlot

In [2]:
from sklearn.datasets import load_boston
boston = load_boston()

x=pd.DataFrame(boston.data,columns=boston.feature_names)
y=pd.DataFrame(boston.target)

In [3]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25, random_state=3)

In [4]:
from sklearn.tree import DecisionTreeRegressor
reg = DecisionTreeRegressor()
reg.fit(x_train,y_train)

DecisionTreeRegressor()

In [5]:
pred=reg.predict(x_test)
pred

array([41.7, 18.4, 16.4, 35.1, 22. , 20.4, 15.1,  7.5, 20.9, 22.5, 17.3,
       26.6, 35.4, 29.6,  5. , 17.2, 20. , 13.3, 13.1, 22. , 23.6, 46. ,
       22.3, 25.3,  9.5, 23. , 27.1, 19.3, 19.2, 24. , 19.1, 36.2, 22.6,
       10.2, 17.3, 13.1, 24.8, 34.7, 20.6, 22.2, 21.5, 10.8, 27.1, 19. ,
       16.8, 27.5, 24.4, 22.5, 24.8, 20. , 24.8, 21. , 48.8, 20.4, 18.2,
       15. , 50. , 14.3, 30.8, 18.4, 19.1, 24.7, 32.5, 33.4, 10.2, 22.9,
       29. , 20.6, 23.9, 25. , 24.4, 29.8, 10.2, 32. ,  9.6, 18.7, 20.1,
       24.8, 26.4, 14.2, 23.9, 13. , 13.8, 20.4, 23. , 12.3, 24.4,  7. ,
       20.9, 22.1, 22.6, 20.1, 21.4, 48.3, 29.9, 13. , 48.5, 10.2, 22.2,
       36.1, 23. , 27.5, 13.4, 19.5, 35.1, 13.6, 22.6, 16.5, 22.2, 35.2,
       17.2,  8.3, 13.3, 25. , 22.2, 19.4, 32.9, 35.1, 17.4, 28.6, 10.9,
       10.8, 13.1, 18.7, 22.5, 27.1, 18.9])

In [6]:
df = pd.DataFrame({'Actual':y_test[0], 'Predicted':pred.flatten()})
df.head()

     Actual  Predicted
224    44.8       41.7
137    17.1       18.4
453    17.8       16.4
303    33.1       35.1
254    21.9       22.0

In [7]:
df['error']=((((df['Predicted']-df['Actual'])/df['Actual'])**2)**0.5)*100

In [8]:
df.head()

     Actual  Predicted     error
224    44.8       41.7  6.919643
137    17.1       18.4  7.602339
453    17.8       16.4  7.865169
303    33.1       35.1  6.042296
254    21.9       22.0  0.456621

In [9]:
s=df[df['error']<=10]
s.head()

     Actual  Predicted     error
224    44.8       41.7  6.919643
137    17.1       18.4  7.602339
453    17.8       16.4  7.865169
303    33.1       35.1  6.042296
254    21.9       22.0  0.456621

In [10]:
s.shape

(64, 3)

In [ ]:
sns.pairplot(x)

In [ ]:
import seaborn 
corr_df = x.corr(method='pearson')
mask = np.zeros_like(corr_df)
mask[np.triu_indices_from(mask)] = False
seaborn.heatmap(corr_df, cmap='RdYlGn', vmax=1.0,vmin=-1.0, mask = mask, linewidth=2.5)
plt.yticks(rotation=0)
plt.xticks(rotation=90)
plt.show()